@import "../variables.scss";
.main {
  &__section {
    &__title {
      margin-bottom: 40px;
      @media screen and (max-width: $tablet2) {
        margin-bottom: 16px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 60px;
      @media screen and (max-width: $desktop) {
        gap: 40px;
      }
      @media screen and (max-width: $mobile) {
        gap: 16px;
      }
      &__quotation {
        display: flex;
        background-color: $lavender;
        width: 100%;
        padding: 19px;
        border: 1px solid $black;
        border-radius: $bid-border-radius;
        @media screen and (max-width: $desktop) {
          gap: 0;
        }
        @media screen and (max-width: $tablet2) {
          padding: 23px 19px;
          gap: 12px;
        }
        &__icon {
          width: 120px;
          height: 120px;
          min-width: 120px;
          @media screen and (max-width: $desktop) {
            width: 80px;
            min-width: 80px;
            height: 80px;
          }
          @media screen and (max-width: $tablet2) {
            width: 40px;
            min-width: 40px;
            height: 40px;
          }
          @media screen and (max-width: $mobile) {
            width: 20px;
            min-width: 20px;
            height: 20px;
          }
        }
        &__text {
          padding: 52px 0 52px;
          font-weight: 300;
          font-size: 40px;
          line-height: 48px;

          @media screen and (max-width: $desktop) {
            font-size: 32px;
            line-height: 38px;
            padding: 52px 0 34px;
          }
          @media screen and (max-width: $tablet2) {
            font-size: 20px;
            line-height: 30px;
            padding: 0;
          }
          @media screen and (max-width: $mobile) {
            font-size: 18px;
            line-height: 27px;
          }
        }
      }
      &__image {
        position: relative;
        border-radius: $bid-border-radius;
        @media screen and (max-width: $mobile) {
          border-radius: $small-border-radius;
        }
        &__icon {
          width: 200px;
          height: 200px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media screen and (max-width: $tablet2) {
            width: 140px;
            height: 140px;
          }
        }
      }
    }
  }
}
.modal {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  overflow: auto;
  padding: 0 0;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 80%;
  height: 80%;
}
iframe {
  width: 100%;
  height: 100%;
}
.appeal__section {
  &__content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: [col] 6.489% [col] 4.78% [col] 6.83% [col] 6.83% [col] 6.83% [col] 6.83% [col] 6.83% [col] 6.83% [col] 6.21%;
    grid-template-rows: [row] auto [row] auto [row];
    @media screen and (max-width: $desktop) {
      grid-template-columns: [col] 2.73% [col] 2.28% [col] 9.12% [col] 9.12% [col] 9.12% [col] 9.12% [col] 9.12% [col] 4.19% [col] 0;
    }
    @media screen and (max-width: $tablet2) {
      grid-template-columns: [col] 0.31% [col] 0.58% [col] 11.62% [col] 14.54% [col] 4.94% [col] 6.25% [col] 0 [col] 0 [col] 0;
    }
    @media screen and (max-width: $mobile) {
      display: grid;
      grid-template-columns: [ col] 100% [ col] 100%;
      grid-template-rows: [row] auto [row] 53px [row] 95px [row] auto;
      gap: 12px;
      max-height: 393px;
      margin-bottom: 12px;
    }
    &__wrapper {
      padding: 27px 39px;
      border: 1px solid $black;
      border-radius: $bid-border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: $desktop) {
        padding: 23px;
      }
      @media screen and (max-width: $tablet2) {
        padding: 15px;
      }
      @media screen and (max-width: $mobile) {
        min-width: -webkit-fill-available;
        margin: 0 !important;
        border-radius: $small-border-radius;
      }
      &:nth-child(1) {
        grid-column: col / span 4;
        grid-row: row;
        @media screen and (max-width: $mobile) {
          grid-column: 1;
          grid-row: row;
        }
      }
      &:nth-child(2) {
        grid-column: col 5 / span 6;
        grid-row: row;
        @media screen and (max-width: $mobile) {
          grid-column: 1;
          grid-row: 2 / 4;
        }
      }
      &:nth-child(3) {
        grid-column: col / span 9;
        grid-row: row 2;
        @media screen and (max-width: $mobile) {
          grid-column: 1;
          grid-row: 4;
        }
      }
      &:nth-child(4) {
        grid-column: 10;
        grid-row: 2 / 4;
        @media screen and (max-width: $mobile) {
          grid-column: 2;
          grid-row: row;
        }
      }
      &:nth-child(5) {
        grid-column: col / span 4;
        grid-row: 3 / 5;
        @media screen and (max-width: $mobile) {
          order: 6;
          grid-column: 2;
          grid-row: 3;
        }
      }
      &:nth-child(6) {
        grid-row: 4;
        grid-column: col 5 / span 6;
        @media screen and (max-width: $mobile) {
          order: 7;
          grid-column: 2;
          grid-row: 4;
        }
      }
      &:nth-child(7) {
        grid-row: 3;
        grid-column: col 5 / span 5;
        background-color: $yellow !important;
        @media screen and (max-width: $mobile) {
          order: 5;
          grid-column: 2;
          grid-row: 2;
          height: fit-content;
        }
      }
      &:nth-child(3n + 1) {
        background-color: $lavender;
      }
      &:nth-child(3n + 2) {
        background-color: $yellow;
      }
      &:nth-child(3n) {
        background-color: $pink;
      }
      &__text {
        font-size: 28px;
        font-style: italic;
        line-height: 42px;
        text-align: center;
        @media screen and (max-width: $desktop) {
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: $tablet2) {
          font-size: 16px;
          line-height: 26px;
        }
        @media screen and (max-width: $mobile) {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
.appeal__section .swiper-pagination,
.goals__section .swiper-pagination {
  @media screen and (max-width: $mobile) {
    position: static;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8px;
    & .swiper-pagination-bullet {
      opacity: 1;
      border: 1px solid $violet-grey;
      background: none;
      width: 16px;
      height: 16px;
      @media screen and (max-width: $tablet2) {
        width: 12px;
        height: 12px;
      }
      @media screen and (max-width: $mobile) {
        width: 8px;
        height: 8px;
      }
    }
    & .swiper-pagination-bullet-active {
      background-color: $violet-grey;
    }
  }
}
.goals__section {
  &__swiper {
    margin-bottom: 120px;
    overflow: visible;
    @media screen and (max-width: $desktop) {
      margin-bottom: 100px;
    }
    @media screen and (max-width: $tablet2) {
      margin-bottom: 60px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 12px;
      gap: 0;
    }

    &__item {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 32px;
      box-shadow: 0px 4px 4px 0px $boarding-school-box-shadow;
      background-color: $white;
      padding: 40px 32px 40px 32px;
      border-radius: $bid-border-radius;
      max-width: 425px;
      height: auto;
      flex-shrink: inherit;
      @media screen and (max-width: $desktop) {
        max-width: 315px;
        padding: 40px 20px 40px 20px;
      }
      @media screen and (max-width: $tablet2) {
        gap: 20px;
        max-width: 203px;
        padding: 20px;
        border-radius: $small-border-radius;
      }
      @media screen and (max-width: $mobile) {
        max-width: none;
        padding: 40px 20px 40px 20px;
        flex-shrink: 0;
      }
      &__image {
        max-width: 160px;
        height: 160px;
        @media screen and (max-width: $desktop) {
          max-width: 120px;
          height: 120px;
        }
        @media screen and (max-width: $tablet2) {
          max-width: 60px;
          height: 60px;
        }
        @media screen and (max-width: $mobile) {
          max-width: 100px;
          height: 100px;
        }
      }
      &__text {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        @media screen and (max-width: $desktop) {
          font-size: 20px;
          line-height: 30px;
        }
        @media screen and (max-width: $tablet2) {
          font-size: 18px;
          line-height: 27px;
        }
        @media screen and (max-width: $mobile) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
.school__section {
  .inner-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__wrapper {
    max-width: 574px;
    @media screen and (max-width: $desktop) {
      max-width: 426px;
    }
    @media screen and (max-width: $tablet2) {
      max-width: 246px;
    }
    @media screen and (max-width: $mobile) {
      max-width: none;
    }
    &__text {
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
      @media screen and (max-width: $desktop) {
        font-size: 18px;
        line-height: 27px;
      }
      @media screen and (max-width: $tablet2) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 722px;
    @media screen and (max-width: $desktop) {
      max-width: 538px;
    }
    @media screen and (max-width: $tablet2) {
      max-width: 422px;
    }
    @media screen and (max-width: $mobile) {
      max-width: none;
    }
    &__item {
      padding: 12px 0 11px 34px;
      border-bottom: 1px solid $blue;
      font-family: $secondary-font;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
      position: relative;
      @media screen and (max-width: $desktop) {
        font-size: 18px;
        line-height: 27px;
        padding: 12px 0 11px 32px;
      }
      @media screen and (max-width: $tablet2) {
        font-size: 14px;
        line-height: 22px;
        padding: 12px 0 11px 30px;
      }
      @media screen and (max-width: $mobile) {
        padding: 8px 0 8px 26px;
      }
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translate(-50%, -50%) translateX(0);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid $blue;
        margin-right: 8px;
        @media screen and (max-width: $desktop) {
          width: 12px;
          height: 12px;
        }
        @media screen and (max-width: $tablet2) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}
.appeal__section
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
  transform: none;
  min-width: 100%;
  span:nth-child(3) {
    display: none;
  }
}
