@import "../variables";

//image-wrapper
.image-wrapper {
  border-radius: $bid-border-radius;
  height: 0;
  overflow: hidden;
  @media screen and (max-width: $tablet2) {
    border-radius: $small-border-radius;
  }
}

.image-wrapper img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

//hero-section
.hero-section {
  padding-top: 82px;
  padding-bottom: 182px;
  @media screen and (max-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 200px;
  }
  @media screen and (max-width: $tablet2) {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.hero-inner__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  @media screen and (max-width: $tablet2) {
    display: block;
  }
}

.hero-wrapper__title {
  color: $blue;
  line-height: normal;
  text-transform: uppercase;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 12px;
  }
}

.hero-section__subtitle {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 12px;
  @media screen and (max-width: 1600px) {
    font-size: 48px;
  }
  @media screen and (max-width: 1220px) {
    font-size: 36px;
  }
  @media screen and (max-width: 1100px) {
    margin-bottom: 0;
    font-size: 40px;
  }
  @media screen and (max-width: $tablet2) {
    display: inline-block;
    margin-right: 8px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 28px;
  }
}

.hero-section__title {
  font-size: 96px;
  font-weight: 500;
  @media screen and (max-width: 1600px) {
    font-size: 72px;
  }
  @media screen and (max-width: 1100px) {
    font-size: 40px;
  }
  @media screen and (max-width: $tablet2) {
    display: inline;
  }
  @media screen and (max-width: $mobile) {
    font-size: 28px;
  }
}

.hero-section__text {
  margin-bottom: 60px;
  font-size: 24px;
  max-width: 633px;
  @media screen and (max-width: 1600px) {
    max-width: 530px;
    margin-bottom: 48px;
    font-size: 20px;
  }
  @media screen and (max-width: 1300px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1100px) {
    margin-bottom: 32px;
  }
  @media screen and (max-width: $tablet2) {
    max-width: 75%;
  }
  @media screen and (max-width: $tablet1) {
    max-width: 100%;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 24px;
    font-size: 18px;
  }
}

.hero-btn__container {
  display: flex;
  gap: 20px;
  @media screen and (max-width: $desktop) {
    gap: 40px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 16px;
  }
}

.hero-button {
  padding: 16px 24px;
  @media screen and (max-width: 1600px) {
    padding: 12px 24px;
  }
}

.hero-wrapper__img {
  grid-row-end: span 2;
  padding-bottom: 71%;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 16px;
  }
}

//values section

.values-section__slider {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
    margin-bottom: 10px;
  }
}

.values-section__flex {
  margin-bottom: 40px;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.values-flex__wrapper,
.values-flex__titles,
.values-section__texts {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.values-section__title {
  text-align: center;
  margin-bottom: 20px;
  width: 425px;
  @media screen and (max-width: $desktop) {
    margin-bottom: 12px;
    width: 315px;
  }
  @media screen and (max-width: $tablet2) {
    margin-bottom: 8px;
  }
  @media screen and (max-width: 768px) {
    width: 203px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.values-section__image {
  padding-bottom: 77.7%;
  max-width: 425px;
  @media screen and (max-width: $desktop) {
    max-width: 315px;
  }
  @media screen and (max-width: 768px) {
    max-width: 203px;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
  }
}

//swiper-pagination
.swiper-pagination {
  position: static;
}
.swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid $violet-grey;
  background: none;
}
.swiper-pagination-bullet-active {
  background-color: $violet-grey;
}

.section-title.values-section__subtitle {
  justify-content: center;
  @media screen and (max-width: $mobile) {
    margin-bottom: 16px;
  }
  &::before,
  &::after {
    content: none;
  }
}

// values texts
.values-section__texts {
  @media screen and (max-width: $mobile) {
    display: block;
  }
}

.values-section__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  width: 425px;
  height: 330px;
  border-radius: $bid-border-radius;
  border: 1px solid $black;
  background: $yellow;
  @media screen and (max-width: $desktop) {
    width: 315px;
    height: 245px;
  }
  @media screen and (max-width: 1020px) {
    padding: 16px;
  }
  @media screen and (max-width: $tablet2) {
    border-radius: $small-border-radius;
    height: 182px;
  }
  @media screen and (max-width: 768px) {
    width: 203px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
    height: 170px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.values-section__text:nth-child(2) {
  background-color: $pink;
}

.values-section__text:nth-child(3) {
  background-color: $lavender;
}

.values-section__text p {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  @media screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

//digits section
.digits-section__text {
  display: flex;
}

.digits-section__number {
  color: $white;
  -webkit-text-stroke: 2px $blue;
  alignment: outside;
  font-family: "Fira Sans";
  font-size: 160px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 4.8px;
}
