@import "../variables.scss";
.projects {
  &__title {
    margin-bottom: 40px;
    @media screen and (max-width: $tablet2) {
      margin-bottom: 16px;
    }
  }
  &__list__slider {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: $desktop) {
      gap: 40px;
    }
    @media screen and (max-width: $tablet2) {
      gap: 20px;
    }
  }
}
