@import "../variables.scss";
.projects {
  &__title {
    margin-bottom: 40px;
    @media screen and (max-width: $tablet2) {
      margin-bottom: 16px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    @media screen and (max-width: $desktop) {
      gap: 40px;
    }
    @media screen and (max-width: $tablet2) {
      gap: 20px;
    }

    &__item {
      padding: 65px 80px;
      &.blue {
        background-color: $lavender;
      }
      &.yellow {
        background-color: $yellow;
      }
      &.pink {
        background-color: $pink;
      }
    }
  }
}
.swiper-wrapper {
  max-height: 1962px;
}
