@import "../variables";

.activities__wrapper {
  margin: 0 auto;
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1600px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1220px) {
    max-width: 720px;
    padding-top: 16px;
  }
  @media screen and (max-width: $tablet1) {
    display: block;
  }
}

.activity__table {
  border: 1px solid $blue;
  border-radius: $small-border-radius;
  overflow: hidden;
  &:nth-child(3n + 2) .activity__table-title {
    background-color: $yellow;
  }
  &:nth-child(3n) .activity__table-title {
    background-color: $pink;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
    @media screen and (max-width: $tablet2) {
      margin-bottom: 32px;
    }
    @media screen and (max-width: $mobile) {
      margin-bottom: 16px;
    }
  }
  @media screen and (max-width: $tablet2) {
    border-color: $black;
  }
}

.activity__table-title {
  border-bottom: 1px solid $blue;
  padding: 16px 48px;
  background: $lavender;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet2) {
    padding: 12px 16px;
    font-size: 20px;
    line-height: 1.5;
    border-color: $black;
  }
  @media screen and (max-width: $mobile) {
    border: none;
    position: relative;
    padding: 8px 20px;
    font-size: 18px;
    &.active {
      border-bottom: 1px solid $black;
      & .activity__table-arrow {
        background-image: url(../../../assets/images/check-mark-up.svg);
      }
    }
  }
}

.activity__table-arrow {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-image: url(../../../assets/images/check-mark-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
  }
}
