@import "../variables";

.activities__wrapper {
  margin: 0 auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 58px;
  @media screen and (max-width: 1220px) {
    max-width: 750px;
    padding-top: 16px;
    padding-bottom: 56px;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: $tablet1) {
    padding-bottom: 20px;
    display: block;
  }
}

.activities-pagination__block {
  width: 100%;
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  margin-top: 30px;
  @media screen and (max-width: $tablet1) {
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.activities-navigation__box {
  position: absolute;
  bottom: 50px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  width: 158px;
  @media screen and (max-width: $tablet1) {
    left: 0;
    bottom: 68px;
    width: 100%;
  }
}

.activities-navigation__box .custom-button-next,
.activities-navigation__box .custom-button-prev {
  position: static;
  transform: none;
  display: block;
}
.activities-navigation__box .activities-next:disabled svg,
.activities-navigation__box .activities-prev:disabled svg {
  cursor: auto;
  fill: $grey;
  &:hover,
  &:focus {
    fill: $grey;
    border: none;
  }
}
