@import "../variables.scss";

.woocommerce div.product {
  .summary {
    gap: 12px;
    display: flex;
    flex-direction: column;
    form.cart {
      .quantity {
        display: none !important;
      }
      .contact-us-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 12px 24px;
        width: fit-content;
        min-width: 277px;
        height: 54px;
        border-radius: $bid-border-radius;
        text-transform: uppercase;
        transition: all $transition-function;
        font-size: 20px;
        border: 1px solid $blue;
        background-color: $white;
        color: $blue;
        &:hover,
        &:focus {
          box-shadow: 0px 4px 4px 0px rgba(29, 32, 135, 0.23);
        }
        &:disabled[disabled] {
          color: $white;
        }
      }
      .woocommerce-variation-add-to-cart {
        display: flex;
        gap: 40px;
        @media screen and (max-width: $desktop) {
          gap: 20px;
        }

        @media screen and (max-width: 768px) {
          gap: 40px;
        }

        @media screen and (max-width: $mobile) {
          gap: 16px;
          flex-direction: column;
        }
      }
      .button {
        background: $blue;
        font-size: 20px;
        line-height: 30px;
        height: auto;
      }
      margin-bottom: 20px;
    }
  }
  form.cart .variations {
    .label {
      display: none;
    }
    .value {
      a {
        display: none !important;
      }
      select {
        width: 100%;
        max-width: 277px;
        min-width: auto;
        padding: 12px 16px;
        gap: 10px;
        border-radius: $bid-border-radius;
        border: 1px;
        background: $white;
        border: 1px solid $lavender;
        font-family: $secondary-font;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
      }
    }
  }
}
.product_title {
  font-size: 64px;
  font-weight: 275;
  line-height: 76.8px;
  color: $blue;
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
  div.product
  span.price {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  color: $black;
}
.woocommerce-product-details__short-description p {
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: $grey;
}
.shop-section {
  margin-top: 120px;
}
.woocommerce div.product {
  .woocommerce-tabs {
    float: right;
    width: 58%;
    clear: none;
  }
  div.images {
    .woocommerce-product-gallery__wrapper {
      img {
        height: 600px;
        width: 425px;
      }
    }
    .flex-control-nav.flex-control-thumbs {
      li {
        img {
          &.flex-active {
            border: 1px solid $violet-grey;
          }
          padding: 8px;
          width: 104px;
          height: 104px;
          max-width: none;
          border-radius: 8px;
          opacity: 10;
        }
      }
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;
      max-width: 120px;
      gap: 32.5px;
    }
  }
}
.woocommerce div.product div.images.woocommerce-product-gallery {
  display: flex;
  flex-direction: row-reverse;
  gap: 29px;
  max-width: 574px;
}
.about__documents {
  display: none;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 58%;
}
