@import "../variables.scss";

.woocommerce {
  &.single-product .breadcrumbs {
    span:nth-child(4),
    span:nth-child(5) {
      display: none;
    }
  }
  .single-product__section {
    margin-top: 40px;
    @media screen and (max-width: $tablet2) {
      margin-top: 20px;
    }
    @media screen and (max-width: $mobile) {
      margin-top: 16px;
    }
  }
  div.product {
    display: grid;
    grid-template-columns: 38.66% auto;
    grid-gap: 80px 40px;
    @media screen and (max-width: $desktop) {
      grid-template-columns: 38.14% auto;
      grid-gap: 60px 20px;
    }
    @media screen and (max-width: $tablet2) {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
    @media screen and (max-width: $mobile) {
      gap: 16px;
    }
    .summary {
      gap: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;
      @media screen and (max-width: $tablet2) {
        gap: 8px;
      }
      .available-on-backorder {
        display: none;
      }
      form.cart {
        margin-bottom: 0;
        .quantity {
          display: none !important;
        }
        .variations {
          margin-bottom: 32px;
          @media screen and (max-width: $desktop) {
            margin-bottom: 24px;
          }
          @media screen and (max-width: $mobile) {
            margin-bottom: 16px;
          }
        }
        .button {
          background: $blue;
          font-size: 20px;
          line-height: 1.5;
          @media screen and (max-width: $desktop) {
            font-size: 16px;
          }
        }
        a.button.contact-us-button {
          border: 1px solid $blue;
          background-color: $white;
          color: $blue;
          &:disabled[disabled] {
            background-color: $white;
            color: $blue;
          }
          margin-left: 40px;
          @media screen and (max-width: $desktop) {
            margin-left: 20px;
          }

          @media screen and (max-width: $tablet2) {
            margin-left: 40px;
          }

          @media screen and (max-width: $mobile) {
            margin-left: 0;
            margin-top: 16px;
          }
        }
        .variations {
          .label {
            display: none;
          }
          .value {
            a {
              display: none !important;
            }
            .choices {
              margin-bottom: 0;
              padding: 0;
              overflow: visible;
              width: fit-content;
              font-family: $secondary-font;
              @media screen and (max-width: $mobile) {
                width: 100%;
              }

              &::after {
                margin: 0;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../../../assets/images/check-mark-down.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-origin: border-box;
                border: none;
                height: 40px;
                width: 40px;
                transition: $transition-function;
              }

              &[data-type*="select-one"]::after {
                margin: 0;
              }

              &.is-open::after {
                transform: translateY(-50%) rotate(-180deg);
              }

              &.is-open.is-focused {
                & .choices__inner {
                  border-bottom-left-radius: 0;
                  border-bottom-right-radius: 0;
                  border-color: $violet-grey;
                  border-bottom: none;
                  height: 64px;
                  background-color: $lavender;

                  &:hover,
                  &:focus {
                    box-shadow: none;
                  }
                }
              }

              & .choices__inner {
                display: flex;
                align-items: center;
                padding: 12px 16px;
                width: 277px;
                height: 54px;
                border-radius: 40px;
                border: 1px solid $lavender;
                background: $white;
                transition: all $transition-function;
                @media screen and (max-width: $desktop) {
                  width: 203px;
                  height: 51px;
                }
                @media screen and (max-width: $tablet2) {
                  height: 48px;
                }
                @media screen and (max-width: $mobile) {
                  width: 100%;
                }

                &:hover,
                &:focus {
                  box-shadow: 0px 4px 4px 0px rgba(29, 32, 135, 0.23);
                }

                & .choices__list--single {
                  padding: 0;

                  & .choices__item {
                    color: $black;
                    font-size: 20px;
                    @media screen and (max-width: $desktop) {
                      font-size: 18px;
                    }
                    @media screen and (max-width: $mobile) {
                      font-size: 14px;
                      line-height: 1.6;
                    }
                  }
                }
              }

              & .choices__list--dropdown {
                z-index: 5;
                margin-top: -2px;
                border-bottom-left-radius: $bid-border-radius;
                border-bottom-right-radius: $bid-border-radius;
                background: $white;
                border: 1px solid $violet-grey;
                border-top: none;
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  left: 0;
                  top: 0;
                  background-color: $violet-grey;
                }

                & .choices__item--choice {
                  padding: 8px 16px;
                  color: $black;
                  font-size: 20px;

                  @media screen and (max-width: $desktop) {
                    font-size: 18px;
                  }
                  @media screen and (max-width: $mobile) {
                    font-size: 14px;
                    line-height: 1.6;
                  }
                  &:first-child {
                    display: none;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    bottom: 0;
                    height: 4px;
                    width: 100%;
                  }

                  &:hover,
                  &:focus {
                    &::after {
                      background-color: $violet-grey;
                      opacity: 0.5;
                    }
                  }

                  &.is-highlighted {
                    background-color: transparent;
                  }

                  &.is-selected {
                    background-color: rgba(204, 209, 255, 0.5);
                  }
                }

                & .choices__item--selectable::after {
                  top: auto;
                }
              }
            }
          }
        }
      }
      .stock.out-of-stock {
        font-family: $secondary-font;
      }
    }
    .woocommerce-tabs {
      float: right;
      clear: none;
      grid-column: 2;
      grid-row: 2;
      width: 100%;
    }
    div.images {
      .woocommerce-product-gallery__wrapper {
        .woocommerce-product-gallery__image {
          @media screen and (max-width: $mobile) {
            margin: 0 auto;
          }
          a {
            position: relative;
            display: block;
            width: 100%;
            aspect-ratio: 17/24;
            overflow: hidden;
            height: 600px;
            border-radius: $bid-border-radius;
            @media screen and (max-width: 1600px) {
              height: 520px;
            }
            @media screen and (max-width: $desktop) {
              aspect-ratio: 105/148;
              max-width: 315px;
              height: 444px;
            }
            @media screen and (max-width: $desktop1) {
              height: 350px;
            }
            @media screen and (max-width: $tablet2) {
              border-radius: $small-border-radius;
              height: 444px;
            }
            @media screen and (max-width: $mobile) {
              margin: 0 auto;
              min-width: 288px;
              max-width: 288px;
              height: 406px;
            }
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            max-width: unset;
          }
        }
      }
      .flex-control-nav.flex-control-thumbs {
        display: flex;
        flex-direction: column;
        width: -webkit-fill-available;
        max-width: 120px;
        gap: 32.5px;
        height: fit-content;
        @media screen and (max-width: $desktop) {
          max-width: 92px;
          gap: 16px;
        }
        @media screen and (max-width: $tablet2) {
          display: flex;
          flex-direction: row;
          max-width: none;
          justify-content: center;
          width: 100%;
          gap: 12px;
        }
        @media screen and (max-width: $mobile) {
          gap: 8px;
        }
        li {
          width: fit-content;
          @media screen and (max-width: $tablet2) {
            border: 1px solid $violet-grey;
            width: 12px;
            height: 12px;
            border-radius: 50%;
          }
          @media screen and (max-width: $mobile) {
            width: 8px;
            height: 8px;
          }
          &:has(.flex-active) {
            @media screen and (max-width: $tablet2) {
              background-color: $violet-grey;
            }
          }
          img {
            &.flex-active {
              border: 1px solid $violet-grey;
            }
            padding: 8px;
            width: 120px;
            height: 120px;
            max-width: none;
            border-radius: 16px;
            opacity: 10;
            @media screen and (max-width: $desktop) {
              width: 92px;
              height: auto;
            }
            @media screen and (max-width: $tablet2) {
              opacity: 0;
              padding: 0;
              width: 12px;
              height: 12px;
              border-radius: 50%;
            }
            @media screen and (max-width: $mobile) {
              width: 8px;
              height: 8px;
            }
          }
        }
      }
    }
    div.images.woocommerce-product-gallery {
      display: flex;
      grid-column: 1;
      grid-row: 1 / 3;
      width: 100%;
      height: fit-content;
      margin-bottom: 0px;
      @media screen and (max-width: $tablet2) {
        flex-direction: column;
        align-items: center;
      }

      &:has(ol) {
        flex-direction: row-reverse;
        gap: 29px;
        @media screen and (max-width: $desktop) {
          gap: 19px;
        }
        @media screen and (max-width: $tablet2) {
          gap: 16px;
        }
      }

      .flex-viewport {
        max-width: 414px;
        border-radius: $bid-border-radius;
        @media screen and (max-width: $tablet2) {
          border-radius: $small-border-radius;
          max-width: 314px;
        }
        @media screen and (max-width: $mobile) {
          max-width: 287px;
        }
      }
    }
    .woocommerce-tabs div.panel {
      display: none;
      margin: 0;
      p {
        font-family: $secondary-font;
        font-size: 20px;
        @media screen and (max-width: $desktop) {
          font-size: 18px;
          line-height: 1.5;
        }
        @media screen and (max-width: $mobile) {
          font-size: 14px;
          line-height: 1.6;
        }
      }
      h2 {
        display: none;
      }
    }
    .woocommerce-tabs ul.tabs::before {
      display: none;
    }
    .woocommerce-tabs ul.tabs {
      width: 100%;
      display: flex;
      padding: 0;
      margin-bottom: 24px;
      li {
        width: 50%;
        background-color: transparent;
        font-size: 24px;
        line-height: 1.5;
        border-top: 3px solid $grey;
        text-transform: uppercase;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-radius: 0;
        padding: 0;
        margin: 0;
        @media screen and (max-width: $desktop) {
          font-size: 20px;
          line-height: 1.5;
        }
        @media screen and (max-width: $mobile) {
          border-top: 2px solid $grey;
          font-size: 16px;
          line-height: 1.5;
        }
        &::before,
        &::after {
          content: none;
        }
        &.active {
          &::before,
          &::after {
            content: none;
          }
          a {
            color: $black;
          }
          border-top: 3px solid $blue;
          background-color: transparent;
          @media screen and (max-width: $mobile) {
            border-top: 2px solid $blue;
          }
        }
        a {
          padding: 5px 0 0 0;
          width: 100%;
          color: $grey;
          font-weight: 400;
          text-align: center;
          @media screen and (max-width: $mobile) {
            padding: 6px 0 0 0;
          }
        }
      }
    }
  }
}
.product_meta {
  display: none;
}
.product_title {
  font-size: 64px;
  font-weight: 275;
  line-height: 1.203;
  color: $blue;
  text-transform: uppercase;
  @media screen and (max-width: $desktop) {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 28px;
    line-height: 1.214;
  }
}
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme))
  div.product
  span.price {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  color: $black;
  margin-bottom: 20px;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
    line-height: 1.1875;
    margin-bottom: 12px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 28px;
    line-height: 1.214;
    margin-bottom: 16px;
  }
}
.woocommerce-product-details__short-description p {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 1.5;
  color: $grey;
  @media screen and (max-width: $desktop) {
    font-size: 18px;
    line-height: 1.6666;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 14px;
    line-height: 1.571;
  }
  @media screen and (max-width: $mobile) {
    font-size: 12px;
    line-height: 1.666;
    margin-bottom: 4px;
  }
}

.about__documents {
  display: none;
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
  width: 100%;
  margin-bottom: 0px;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 28px;
  }
  @media screen and (max-width: $mobile) {
    gap: 4px;
    margin-bottom: 24px;
  }
}
// linked products
.shop-section {
  .container {
    .section-title {
      margin-bottom: 60px;
      @media screen and (max-width: $desktop) {
        margin-bottom: 40px;
      }
      @media screen and (max-width: $tablet2) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 20px;
      }
    }
    .inner-container {
      .products {
        @media screen and (max-width: $mobile) {
          margin-bottom: 12px;
        }
        &::after,
        &::before {
          display: none;
        }
        .product {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: auto;
          margin: 0;
          text-align: center;

          img {
            aspect-ratio: 1;
            object-fit: cover;
          }

          .woocommerce-loop-product__title {
            padding: 0;
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 4px;
            @media screen and (max-width: $desktop) {
              font-size: 20px;
              line-height: 1.5;
            }
            @media screen and (max-width: $mobile) {
              font-size: 12px;
            }
          }
          .woocommerce-loop-product__link {
            width: 100%;
            img {
              border-radius: $small-border-radius;
              margin-bottom: 12px;
              @media screen and (max-width: $mobile) {
                border-radius: 16px;
                margin-bottom: 8px;
              }
            }
          }
          .price {
            font-family: $secondary-font;
            font-size: 20px;
            line-height: 1.5;
            color: $black;
            margin-bottom: 12px;
            @media screen and (max-width: $desktop) {
              font-size: 18px;
              line-height: 1.5;
            }
            @media screen and (max-width: $mobile) {
              font-size: 14px;
              line-height: 1.6;
            }
          }
          .product-tag {
            position: absolute;
            top: 16px;
            left: 16px;
            padding: 8px 24px;
            border-radius: 40px;
            background: $lavender;
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 1.35;
            @media screen and (max-width: $desktop) {
              font-size: 14px;
            }
            @media screen and (max-width: $mobile) {
              top: 8px;
              left: 8px;
              padding: 4px 16px;
              font-size: 10px;
            }
            &.in-progress {
              background-color: $yellow;
            }
            &.not-available {
              background-color: $dark-grey;
              color: $white;
            }
          }
          .button {
            position: relative;
            margin: 0 auto;
            min-width: 277px;
            flex-direction: row-reverse;
            gap: 3px;
            @media screen and (max-width: 1200px) {
              min-width: 100%;
            }
            @media screen and (max-width: $tablet2) {
              min-width: 277px;
            }
            @media screen and (max-width: 650px) {
              min-width: 100%;
              padding: 8px 20px;
              height: 40px;
              font-size: 14px;
            }
            &:hover {
              text-decoration: underline;
            }
            &.disabled {
              background-color: $grey;
              color: $white;
              opacity: 1;
              &:hover,
              &:focus {
                box-shadow: none;
                background-color: $grey;
                color: $white;
              }
            }
          }
        }
      }
    }
  }

  // products swiper
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0;
  }
  &__bullets {
    display: flex;
    justify-content: center;
    gap: 12px;
    @media screen and (max-width: $mobile) {
      gap: 8px;
    }

    .swiper-pagination-bullet {
      opacity: 1;
      border: 1px solid $violet-grey;
      background: none;
      width: 12px;
      height: 12px;
      @media screen and (max-width: $mobile) {
        width: 8px;
        height: 8px;
      }
    }

    & .swiper-pagination-bullet-active {
      background-color: $violet-grey;
    }
  }
}

.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button.added::after {
  margin-left: 0;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../images/check-outline.svg") no-repeat center / contain;
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button.loading::after {
  position: absolute;
  right: 6px;
  top: 30%;
}

.woocommerce a.added_to_cart {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  width: max-content;
  font-size: 16px;
  font-style: italic;
  line-height: 1.35;
  color: $blue;
  @media screen and (max-width: $mobile) {
    bottom: -20px;
    font-size: 12px;
  }

  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../../images/cart_blue.svg") no-repeat center / contain;
  }
}
