h3 {
  color: $blue;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  @media screen and (max-width: $desktop) {
  }
  @media screen and (max-width: $tablet2) {
  }
  @media screen and (max-width: $mobile) {
  }
}

.footer {
  color: pink;

  &-top-container {
    display: flex;
    gap: 100px;
    margin-bottom: 60px;
    @media screen and (max-width: $tablet2) {
      gap: 38px;
    }
    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-title {
    margin-bottom: 32px;
    color: $blue;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width: $desktop) {
      font-size: 32px;
    }
    @media screen and (max-width: $tablet2) {
      display: none;
    }
    @media screen and (max-width: $mobile) {
      font-size: 18px;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (max-width: $tablet2) {
      display: none;
    }
    @media screen and (max-width: $tablet2) {
      display: flex;
    }
  }

  &-title-tablet {
    display: none;
    @media screen and (max-width: $tablet2) {
      display: flex;
      gap: 16px;
      font-weight: 300;
      color: $blue;
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  &-label-tablet {
    display: none;
    @media screen and (max-width: $tablet2) {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.6;
      margin-bottom: 54px;
    }
  }

  &__logo {
    margin-bottom: 176px;
    @media screen and (max-width: $tablet2) {
      display: flex;
      gap: 16px;
      margin-bottom: 16px;
    }
  }

  &-icons-mobile {
    display: none;
    @media screen and (max-width: $mobile) {
      display: flex;
    }
  }

  &-about-title-mobile {
    display: none;
    @media screen and (max-width: $mobile) {
      display: block;
    }
  }
  &-bottom-container {
    display: flex;
    justify-content: space-between;
  }
}

.acc-container {
  height: 0;
  overflow: hidden;

  &.expanded {
    height: auto;
  }
}
