@import "./variables.scss";

.gallery {    
    &__header {
        margin: 0px 0 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;        
        column-gap: 16px;
        @media (max-width: $desktop) {
            margin: 0px 0 40px; 
        }
        @media (max-width: $tablet2) {
            margin: 0px 0 4px;
            grid-template-columns: 1fr;
            row-gap: 16px;            
        }
        @media (max-width: $mobile) {
            margin: 0px;
        }
    }    
    &__title-text {
        font-family: $secondary-font;          
        line-height: 30px;
        @media (max-width: $desktop) {
            font-size: 18px;
            line-height: 27px;
        }
        @media (max-width: $tablet2) {
            font-size: 14px;
            line-height: 22px;
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 56px;
        column-gap: 95px;
        @media (max-width: $desktop) {
            row-gap: 40px;
            column-gap: 75px;
        }
        @media (max-width: $tablet2) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    &__item {
        display: flex;
        flex-direction: column; 
        max-width: 425px;        
        @media (max-width: $mobile) {
            max-width: 100%;
        }  
        transition: transform 0.8s ease 0s;  
        &:hover {
            color: $blue;            
            img, .gallery__post-content {
                border-radius: $bid-border-radius;                    
                transition: ease 0.7s;
                transform: scale(1.01); 
            } 
        }           
        a { 
            flex: 1 1 auto;    
            display: flex;
            flex-direction: column;  
            transition: transform 0.8s ease 0s;    
            &:hover {
                transition: ease 0.7s;
                transform: scale(1.01); 
            }  
            
        }    
        &:nth-child(odd) {
            .gallery__post-content {background-color: $lavender;}
        }    
        &:nth-child(even) {
            .gallery__post-content {background-color: $yellow;}
        }
        &:nth-child(3n) {
            .gallery__post-content {background-color: $pink;}
        }
    }
    &__post-img {     
        overflow: hidden;                 
        img {
            border-radius: $small-border-radius $small-border-radius 0 0; 
            object-fit: cover;
            object-position: top;           
            max-width: 425px;
            height: 300px;
            @media (max-width: $desktop) {
                height: 260px;           
            } 
            @media (max-width: $tablet2) {
                height: 206px;
            }
            @media (max-width: $mobile) {
                max-width: 100%;
            }            
        }
    }   
    &__post-content { 
        border-radius: 0 0 $small-border-radius $small-border-radius; 
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 16px 24px; 
        @media (max-width: $desktop) {
            padding: 12px 16px;
        }
        @media (max-width: $tablet2) {
            padding: 12px;
        }               
    }  
    &__post-cat {        
        font-family: $secondary-font;  
        font-size: 16px;
        line-height: 26px;
        color: $dark-grey;
        @media (max-width: $desktop) {
            font-size: 14px;
            line-height: 22px;
        }       
        &:hover {
            color: $blue;              
        }
    }
    &__post-title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;     
        @media (max-width: $desktop) {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        @media (max-width: $tablet2) {
            font-size: 18px;
            line-height: 27px;            
        }
        @media (max-width: $mobile) {
            font-size: 16px;
            line-height: 24px; 
        }
    }   
    &__post-date {             
        font-family: $secondary-font;  
        font-size: 16px;
        line-height: 26px;
        @media (max-width: $desktop) {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
