// containers
@import "../styles/variables.scss";
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 120px;
  @media screen and (max-width: $desktop) {
    margin-bottom: 100px;
  }
  @media screen and (max-width: $tablet2) {
    margin-bottom: 60px;
  }
}

.container {
  max-width: 1792px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (max-width: $desktop) {
    max-width: 1352px;
  }

  @media screen and (max-width: 768px) {
    max-width: 720px;
  }

  @media screen and (max-width: $mobile) {
    max-width: none;
  }
}

.inner-container {
  max-width: 1464px;
  margin: 0 auto;
  width: 84%;

  @media screen and (max-width: $desktop) {
    max-width: 1096px;
  }

  @media screen and (max-width: $tablet2) {
    width: 100%;
  }
}

//buttons
.button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type="submit"],
.woocommerce .single_add_to_cart_button.button,
.woocommerce .return-to-shop a.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.lmp_load_more_button.br_lmp_button_settings .lmp_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 12px 24px;
  width: fit-content;
  min-width: 277px;
  height: 54px;
  border-radius: $bid-border-radius;
  text-transform: uppercase;
  transition: all $transition-function;
  font-weight: 400;
  font-size: 20px;

  @media screen and (max-width: $desktop) {
    min-width: 203px;
    height: 48px;
    font-size: 16px;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(29, 32, 135, 0.23);
  }
  &:disabled[disabled] {
    color: $white;
  }
}

.lmp_load_more_button.br_lmp_button_settings .lmp_button {
  margin: -20px auto 0;
  min-width: 425px;
  @media screen and (max-width: $desktop) {
    min-width: 315px;
  }
  @media screen and (max-width: $tablet2) {
    margin-top: 0;
    min-width: 246px;
  }
  @media screen and (max-width: $mobile) {
    min-width: 100%;
  }
}

.woocommerce ul.products li.product .button {
  display: flex;
}

.primary-button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce input[type="submit"],
.woocommerce .single_add_to_cart_button.button,
.woocommerce .return-to-shop a.button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles))
  a.button {
  background-color: $blue;
  color: $white;
  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
  }
}

.secondary-button {
  border: 1px solid $blue;
  background-color: $white;
  color: $blue;
}

// page-title
.page-title {
  font-size: 64px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  color: $blue;

  @media screen and (max-width: $desktop) {
    font-size: 40px;
  }

  @media screen and (max-width: $tablet2) {
    font-size: 28px;
  }
}

//section title
.section-title {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
  color: $blue;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet2) {
    gap: 16px;
    margin-bottom: 16px;
    font-size: 20px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 18px;
  }

  &::before,
  &::after {
    content: "";
    height: 2px;
    display: block;
    background-color: $violet-grey;
    @media screen and (max-width: $tablet2) {
      height: 1px;
    }
  }

  &::before {
    width: 6.6%;
    @media screen and (max-width: $desktop) {
      width: 6%;
    }
    @media screen and (max-width: $mobile) {
      width: 5.5%;
    }
  }

  &::after {
    flex: 1 1 auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
