@import "./variables.scss";
.header {
  display: flex;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 4px 7px 0px rgba(140, 142, 208, 0.2);
  background: #fff;
  padding: 12px 40px;
  margin: 0 60px 100px;
  @media screen and (max-width: $full) {
    width: auto;
    margin: 0 60px 100px;
  }
  @media screen and (max-width: $tablet2) {
    margin: 0 40px 40px;
  }
  @media screen and (max-width: $mobile) {
    margin: 0 16px 20px;
  }
  &__logo {
    @media screen and (max-width: $tablet2) {
      display: none;
    }
  }
  &__burger__logo {
    display: none;
    @media screen and (max-width: $tablet2) {
      display: block;
    }
  }
  &__content {
    display: flex;
  }
  &__first__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $tablet2) {
      flex-direction: column;
      height: 100%;
    }
  }
  &__second__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $tablet2) {
      flex-direction: row;
      order: 3;
      border-top: 1px solid $violet-grey;
      padding-top: 12px;
      margin: auto 0 0;
    }
  }
  &__button {
    font-size: 20px;
    line-height: 30px;
    background: #1d2087;
    color: #fff;
    min-width: 172px;
    @media screen and (max-width: $desktop) {
      font-size: 16px;
      line-height: 24px;
      min-width: 147px;
      max-width: 147px;
    }
    @media screen and (max-width: $tablet2) {
      margin: 32px 0 0;
      align-self: flex-start;
    }
  }
  &__container {
    width: 100%;
  }
}
.menu {
  &__body {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $tablet2) {
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  &__container {
    width: 100%;
    &.open {
      position: fixed;
      display: flex;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      overflow: auto;
      padding: 0 0;
    }
    @media screen and (max-width: $tablet2) {
      display: none;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: $tablet2) {
      background: #fff;
      box-shadow: 2px 4px 7px 1px rgba(140, 142, 208, 0.2);
      width: 100%;
      max-width: 557px;
      gap: 32px;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 0px 40px 40px 0px;
      padding: 80px 40px 36px;
      position: relative;
      max-height: 724px;
    }
    @media screen and (max-width: $mobile) {
      background: #fff;
      box-shadow: 2px 4px 7px 1px rgba(140, 142, 208, 0.2);
      width: 100%;
      max-width: 228px;
      gap: 12px;
      flex-direction: column;
      justify-content: flex-start;
      border-radius: 0px 40px 40px 0px;
      padding: 80px 40px 36px;
      position: relative;
      max-height: 541px;
    }
  }
  &__close-button {
    display: none;
    @media screen and (max-width: $tablet2) {
      display: block;
      position: absolute;
      right: 40px;
      top: 20px;
      cursor: pointer;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    fill: $blue;
  }
  &-item {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    transition: all $transition-function;
    @media screen and (max-width: $tablet2) {
      width: 100%;
      text-align: left;
      padding: 12px 8px;
      font-size: 16px;
      line-height: 24px;
      border-bottom: 1px solid $violet-grey;
      color: $blue;
    }
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}
.current_page_item a {
  color: $blue;
}
.burger {
  display: none;

  @media screen and (max-width: $tablet2) {
    display: flex;
    position: relative;
    align-items: center;
    width: 36px;
    justify-content: flex-start;
    height: 26px;
    margin-right: 5px;
    cursor: pointer;
  }
  @media screen and (max-width: $tablet2) {
    width: 23px;
    height: 18px;
  }
}

.burger span {
  height: 2px;
  width: 50%;
  transform: scale(1);
  background-color: black;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $blue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}
.custom-logo {
  width: 60px;
  height: 60px;
}
.language-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  &:hover {
    color: #1d2087;
    text-decoration-line: underline;
  }
  @media screen and (max-width: $tablet2) {
    order: 1;
    width: 100%;
    margin: auto 0 0;
  }
  & p,
  & img {
    @media screen and (max-width: $tablet2) {
      display: none;
    }
  }
}

.language-dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  border-radius: 24px;
  top: -20%;
  left: -50%;
  border: 1px solid #ccd1ff;
  padding: 8px 16px;
  background: #f7f7fc;
  z-index: 1;
  gap: 6px;
  @media screen and (max-width: $tablet2) {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: transparent;
    border: none;
    border-radius: 0;
    width: 100%;
    border-top: 1px solid #8c8ed0;
    justify-content: space-between;
  }
}

.lang-item {
  display: inline;
}
.language-label {
  display: flex;
  align-items: center;
  gap: 4px;
  & img {
    display: block;
  }
}
.language-wrapper {
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 4px 8px 3px;
  border-bottom: 1px solid #ccd1ff;

  color: black;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  & input,
  & label {
    cursor: pointer;
    accent-color: #8c8ed0;
    mix-blend-mode: multiply;
  }
  @media screen and (max-width: $tablet2) {
    & input {
      display: none;
    }
    &.current {
      background-color: #ccd1ff;
      border-radius: 24px;
      padding: 0 16px;
    }
    border: none;
  }
}
.language__current {
  font-size: 20px;
  line-height: 30px;
}
