$white: #fff;
$background: #f7f7fc;
$black: #0d0d0d;
$blue: #1d2087;
$yellow: #fffdcc;
$pink: #fcc;
$lavender: #ccd1ff;
$violet-grey: #8c8ed0;
$grey: #b3b3b3;
$dark-grey: #7d7e8a;
$main-dark: rgba(13, 13, 13, 0.3);

$mobile: 575.98px;
$tablet1: 767.98px;
$tablet2: 991.98px;
$desktop: 1440px;
$full: 1919.98px;

$bid-border-radius: 40px;
$small-border-radius: 24px;

$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
