@import "../variables.scss";

/*Documents========================*/
.about__documents {
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 40px;
    @media (max-width: $desktop) {
      gap: 20px;
    }
    @media (max-width: $tablet2) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      row-gap: 40px;
      margin-bottom: 20px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 16px;
    }
  }
  a {
    padding: 20px 18px;
    font-family: Fira Sans;
    line-height: 30px;
    text-align: center;
    border: 1px solid $violet-grey;
    border-radius: 24px;
    @media (max-width: $desktop) {
      padding: 20px 16px;
      font-size: 18px;
      line-height: 27px;
    }
    @media (max-width: $tablet2) {
      font-size: 14px;
      line-height: 22px;
      border-radius: 16px;
    }
    @media (max-width: $mobile) {
      padding: 16px;
    }
  }
  &-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    @media (max-width: $tablet2) {
      gap: 8px;
    }
    img {
      width: 120px;
      height: 120px;
      @media (max-width: $desktop) {
        width: 100px;
        height: 100px;
      }
      @media (max-width: $tablet2) {
        width: 80px;
        height: 80px;
      }
      @media (max-width: $tablet2) {
      }
    }
  }
  &-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 425px;
    padding: 12px 0;
    background-color: $blue;
    color: $white;
    border-radius: $bid-border-radius;
    text-transform: uppercase;
    @media (max-width: $desktop) {
      width: 315px;
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: $tablet2) {
      width: 246px;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
    &:hover {
      transition: ease 0.7s;
      box-shadow: 0px 4px 4px 0px #1d20873b;
    }
    img {
      width: 16px;
      height: 10px;
    }
  }
  &-part {
    a {
      &:nth-child(n + 6) {
        display: none;
      }
      @media (max-width: $tablet2) {
        &:nth-child(n + 5) {
          display: none;
        }
      }
    }
  }
  &-all {
    display: none;
  }
}
