@import "../variables";

.feedback-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity $transition-function;
}

.feedback-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.feedback-backdrop.is-hidden .feedback-modal {
  transform: translate(-50%, -50%) translateX(-100%);
  @media screen and (max-width: $mobile) {
    transform: translateX(-100%);
  }
}

.feedback-backdrop.is-hidden .feedback-modal.horizontal {
  transform: translateX(-100%);
}

.feedback-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0);
  width: 802px;
  padding: 24px 40px;
  overflow: hidden;
  overflow-y: auto;
  background-color: $background;
  border-radius: $bid-border-radius;
  box-shadow: 0px 4px 122px 40px rgba(0, 0, 0, 0.25);
  transition: transform $transition-function;
  @media screen and (max-width: $desktop) {
    width: 650px;
    padding: 24px;
  }
  @media screen and (max-width: $tablet2) {
    width: 560px;
    border-radius: $small-border-radius;
  }
  @media screen and (max-width: $mobile) {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateX(0);
    padding: 16px 12px;
  }
}

.feedback-modal.horizontal {
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateX(0);
}

.feedback-modal__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 12px;
  }
}

.feedback-modal__title {
  color: $blue;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet2) {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
  }
  @media screen and (max-width: $mobile) {
    font-size: 18px;
  }
}

.feedback-modal__btn {
  cursor: pointer;
  transition: all $transition-function;
}

.icon__cross {
  width: 40px;
  height: 40px;
  @media screen and (max-width: $desktop) {
    width: 32px;
    height: 32px;
  }
  .feedback-modal__btn:hover &,
  .feedback-modal__btn:hover & {
    fill: $blue;
  }
}

.feedback-modal__auth {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  row-gap: 24px;
  font-family: "Fira Sans", sans-serif;
  @media screen and (max-width: $tablet2) {
    row-gap: 20px;
  }
  @media screen and (max-width: $mobile) {
    row-gap: 12px;
  }
}

.feedback-modal__box {
  display: flex;
  column-gap: 20px;
  & .feedback-modal__wrapper {
    flex-basis: 50%;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    row-gap: 12px;
    & .feedback-modal__wrapper {
      flex-basis: 100%;
    }
  }
}

.feedback-modal__auth label {
  display: block;
  margin-bottom: 8px;
  color: $black;
  font-size: 20px;
  @media screen and (max-width: $desktop) {
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (max-width: $desktop) {
    margin-bottom: 4px;
  }
}

.feedback-modal__input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 32px;
  border-radius: $bid-border-radius;
  border: 1px solid $lavender;
  background: $white;
  transition: all $transition-function;
  outline: none;
  font-size: 20px;

  @media screen and (max-width: $desktop) {
    padding: 12px 24px;
    font-size: 14px;
  }
  @media screen and (max-width: $mobile) {
    padding: 8px 16px;
    border-radius: $small-border-radius;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px 0px rgba(29, 32, 135, 0.23);
  }
  &:valid {
    border-color: $violet-grey;
  }
  &:invalid {
    border-color: $invalid-input;
  }
  &::placeholder {
    color: $grey;
  }
}

textarea.feedback-modal__input {
  resize: none;
  height: 228px;
  @media screen and (max-width: $desktop) {
    height: 180px;
  }
  @media screen and (max-width: $tablet2) {
    height: 170px;
  }
  @media screen and (max-width: $mobile) {
    height: 140px;
  }
}

.feedback-modal__case {
  display: none;
  &.shown {
    display: block;
  }
}

.feedback-modal__privacy {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  & .feedback-privacy__link {
    color: $blue;
  }
}

.feedback-privacy__label {
  font-size: 16px;
  line-height: 1.6;
  @media screen and (max-width: $desktop) {
    font-size: 14px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 10px;
  }
}

.feedback-check__box {
  width: 24px;
  height: 24px;
  @media screen and (max-width: $mobile) {
    width: 16px;
    height: 16px;
  }
}

.feedback-check {
  appearance: none;
  background-image: url(../../../assets/images/icon-checkbox-blank.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  transition: 250ms $transition-function;
  width: 24px;
  height: 24px;
  @media screen and (max-width: $mobile) {
    width: 16px;
    height: 16px;
  }

  &:checked {
    background-image: url(../../images/icon-checkbox-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.feedback-check:checked + span {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
