@import "../variables";

.feedback-pagination__block {
  width: 100%;
  display: grid;
  grid-template-columns: auto 100px;
  align-items: center;
  margin-top: 30px;
  @media screen and (max-width: $tablet1) {
    padding: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.feedback-pagination__button {
  @media screen and (max-width: $tablet1) {
    width: 100%;
  }
}

.numbers-pagination {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -5px;
  @media screen and (max-width: $tablet1) {
    margin-bottom: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -3px;
  }
}

.feedback-navigation__box {
  position: absolute;
  bottom: 50px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  width: 158px;
  @media screen and (max-width: $tablet1) {
    left: 0;
    bottom: 68px;
    width: 100%;
  }
}

.feedback-navigation__box .custom-button-next,
.feedback-navigation__box .custom-button-prev {
  position: static;
  transform: none;
  display: block;
}
.feedback-navigation__box .feedback-next:disabled svg,
.feedback-navigation__box .feedback-prev:disabled svg {
  cursor: auto;
  fill: $grey;
  &:hover,
  &:focus {
    fill: $grey;
    border: none;
  }
}
