@import "../variables.scss";

.gallery-mobile-swiper {
    .gallery-mobile-item {
        min-height: 342px;
        a {                  
            &:hover {
                color: $blue;            
                img, .gallery__post-content {
                    border-radius: $bid-border-radius;                    
                    transition: ease 0.7s;
                    transform: scale(1.01); 
                } 
            }          
        }          
    }
    .gallery-mobile-slide {
        border-radius: $small-border-radius;
        margin-bottom: 36px;
        &:nth-child(odd) {
            .gallery__post-content {background-color: $lavender;}
        }    
        &:nth-child(even) {
            .gallery__post-content {background-color: $yellow;}
        }
        &:nth-child(3n) {
            .gallery__post-content {background-color: $pink;}
        }
    }  
    .gallery-mobile-pagination {        
        .swiper-pagination-bullet {
            border: 2px solid $violet-grey;
            background-color: $white;
        }
        .swiper-pagination-bullet-active {
            background-color: $violet-grey;
        }
    }
}
