@import "../variables";

.feedback-post {
  display: inline-block;
  width: 100%;
  max-width: 425px;
  height: fit-content;
  margin-bottom: 22px;
  padding: 32px;
  border-radius: $bid-border-radius;
  background: $background;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  @media screen and (max-width: 1760px) {
    max-width: 315px;
  }
  @media screen and (max-width: $desktop) {
    padding: 24px;
    border-radius: $small-border-radius;
  }
  @media screen and (max-width: $tablet1) {
    padding: 16px;
    background: $white;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100%;
    padding: 12px;
  }
}

.feedback-post__box {
  margin-bottom: 24px;
  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
  }
}

.feedback-post__excerpt,
.feedback-post__content {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
    font-size: 14px;
  }
  @media screen and (max-width: $tablet1) {
    min-height: 270px;
    overflow: hidden;
  }
}

.feedback-post__btn {
  color: $blue;
  font-size: 16px;
  text-transform: uppercase;
  @media screen and (max-width: $mobile) {
    margin-top: 8px;
  }
}

.feedback-post__author {
  margin-bottom: 8px;
  font-size: 24px;
  @media screen and (max-width: $desktop) {
    font-size: 20px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 18px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 16px;
  }
}

.feedback-post__author-role {
  color: $blue;
  font-size: 16px;
  font-style: italic;
  line-height: 1.35;
  @media screen and (max-width: $desktop) {
    font-size: 14px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 16px;
    line-height: 1.5;
  }
}
