@import "../variables";

.lastnews {
  position: relative;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 28.7% auto;
  padding: 40px 0;
  @media screen and (max-width: $tablet2) {
    grid-template-columns: 22.8% auto;
    padding: 20px 0;
  }
  @media screen and (max-width: $mobile) {
    display: block;
    padding: 16px 0;
  }
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $violet-grey;
  }
}

.lastnews_img_wrap {
  position: relative;
  border-radius: $small-border-radius;
  height: 0;
  overflow: hidden;
  padding-bottom: 67%;
  @media screen and (max-width: $desktop) {
    padding-bottom: 73%;
  }
  @media screen and (max-width: $tablet2) {
    padding-bottom: 100%;
  }
  @media screen and (max-width: $mobile) {
    border-radius: 16px;
    margin-bottom: 12px;
  }
}

.lastnews__img--box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lastnews__img--box img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.lastnews__title {
  color: $blue;
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 12px;
  @media screen and (max-width: $desktop) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.lastnews__time {
  color: $main-dark;
  font-family: $secondary-font;
  margin-bottom: 12px;
  @media screen and (max-width: $desktop) {
    font-size: 18px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 8px;
  }
  @media screen and (max-width: $mobile) {
    font-size: 12px;
    margin-bottom: 9px;
  }
}

.lastnews__detais-box {
  display: none;
  @media screen and (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }
}

.lastnews__content--full,
.lastnews__content--short {
  margin-bottom: 9px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 1.6;
}

.lastnews__content--full.hidden,
.lastnews__content--short.hidden {
  display: none;
}

.lastnews__content {
  font-family: $secondary-font;
  @media screen and (max-width: $desktop) {
    font-size: 18px;
  }
  @media screen and (max-width: $tablet2) {
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (max-width: $mobile) {
    display: none;
  }
}
