@import "../variables.scss";
.projects {
  &__section {
    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media screen and (max-width: $tablet2) {
        gap: 16px;
      }
    }
    &__swiper {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
      @media screen and (max-width: $tablet2) {
        margin-bottom: 16px;
      }
      @media screen and (max-width: $mobile) {
        margin-bottom: 0;
      }
      &__item {
        border: 1px solid $black;
        border-radius: $bid-border-radius;
        padding: 64px 79px;
        display: flex;
        align-items: center;
        min-height: 614px;
        max-height: 614px;
        justify-content: space-between;
        overflow: hidden;
        &:last-child {
          margin-bottom: 0 !important;
        }
        @media screen and (max-width: $desktop) {
          padding: 39px 59px;
          min-height: 546px;
        }
        @media screen and (max-width: $tablet2) {
          padding: 52px 40px;
          border-radius: $small-border-radius;
          min-height: 440px;
        }
        @media screen and (max-width: $mobile) {
          font-family: $secondary-font;
          padding: 15px 19px;
          flex-direction: column-reverse;
          min-height: 588px;
          gap: 8px;
        }
        &:nth-child(3n + 1) {
          background-color: $yellow;
        }
        &:nth-child(3n + 2) {
          background-color: $pink;
        }
        &:nth-child(3n) {
          background-color: $lavender;
        }
        &__button {
          font-family: $primary-font;
          font-size: 20px;
          line-height: 30px;
          @media screen and (max-width: $desktop) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        &__mark {
          position: absolute;
          transform: rotate(-38deg);
          top: -12px;
          left: -113px;
          width: 353px;
          height: 135px;
          background: $blue;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          padding-bottom: 10px;
          z-index: 999;
          @media screen and (max-width: 1500px) {
            top: -20px;
            left: -123px;
            height: 121px;
          }
          @media screen and (max-width: 1235px) {
            top: -50px;
            left: -153px;
            padding-bottom: 3px;
          }
          @media screen and (max-width: $mobile) {
            padding-bottom: 6px;
            top: -46px;
            left: -158px;
            width: 354px;
            height: 108px;
          }
          &__message {
            width: 100%;
            max-width: 189.37px;
            text-align: center;
            font-family: $secondary-font;
            font-size: 16px;
            line-height: 26px;
            color: $white;
            text-transform: uppercase;
            @media screen and (max-width: 1500px) {
              font-size: 14px;
              line-height: 22px;
            }
            @media screen and (max-width: 1235px) {
              font-size: 10px;
              line-height: 16px;
              max-width: 142.37px;
            }
            @media screen and (max-width: $mobile) {
              max-width: 89px;
              font-size: 8px;
              line-height: 13px;
            }
          }
        }
        &__content {
          display: flex;
          flex-direction: column;
          gap: 48px;
          max-width: 658px;
          @media screen and (max-width: $desktop) {
            max-width: 477px;
            width: 50%;
          }
          @media screen and (max-width: $tablet2) {
            gap: 24px;
            max-width: 286px;
          }
          @media screen and (max-width: $mobile) {
            gap: 16px;
            max-width: none;
            width: 100%;
          }
          &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @media screen and (max-width: $mobile) {
              gap: 8px;
            }
          }
        }
        &__title {
          font-family: $primary-font;
          font-size: 40px;
          font-weight: 300;
          line-height: 48px;
          color: $blue;
          @media screen and (max-width: $desktop) {
            font-size: 32px;
            line-height: 38px;
          }
          @media screen and (max-width: $tablet2) {
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
          }
          @media screen and (max-width: $mobile) {
            font-size: 18px;
            line-height: 27px;
          }
        }
        &__description {
          font-family: $secondary-font;
          font-size: 20px;
          line-height: 30px;
          @media screen and (max-width: $desktop) {
            font-size: 18px;
            line-height: 27px;
          }
          @media screen and (max-width: $desktop1) {
            font-size: 14px;
            line-height: 22px;
          }
          @media screen and (max-width: $mobile) {
            font-size: 14px;
            line-height: 22px;
          }
        }
        &__photo {
          position: absolute;
          width: 100%;
          max-width: 290px;
          @media screen and (max-width: $desktop) {
            max-width: 260px;
          }
          @media screen and (max-width: $tablet2) {
            max-width: 180px;
          }
          @media screen and (max-width: $mobile) {
            max-width: 130px;
          }
          &:first-child {
            top: 16px;
            left: 17px;
            @media screen and (max-width: $desktop) {
              top: 14px;
              left: 14px;
            }
            @media screen and (max-width: $tablet2) {
              top: 13px;
              left: 11px;
            }
            @media screen and (max-width: $mobile) {
              left: 10px;
            }
          }
          &:last-child {
            bottom: 20px;
            right: 20px;
            @media screen and (max-width: $desktop) {
              bottom: 14px;
              right: 14px;
            }
            @media screen and (max-width: $tablet2) {
              bottom: 12px;
              right: 10px;
            }
            @media screen and (max-width: $mobile) {
              right: 22px;
            }
          }
          &__wrapper {
            width: 100%;
            overflow: hidden;
            height: fit-content;
            max-width: 515px;
            @media screen and (max-width: $desktop) {
              max-width: 478px;
            }
            @media screen and (max-width: $tablet2) {
              max-width: 292px;
            }
            @media screen and (max-width: $mobile) {
              border-radius: $small-border-radius;
              width: 92.75%;
              height: 93.34%;
            }
            .single-image {
              object-fit: cover;
              object-position: center;
              width: 95.73%;
              max-width: none;
              @media screen and (max-width: $desktop) {
                width: 95.7%;
              }
              @media screen and (max-width: $tablet2) {
                width: 96.2%;
              }
              @media screen and (max-width: $mobile) {
                width: 100%;
                height: 100%;
                object-fit: none;
              }
            }
            &:has(.single-image) {
              @media screen and (max-width: $mobile) {
                transform: rotate(4deg);
              }
            }
          }
          &__container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            max-width: 546px;
            @media screen and (max-width: $desktop) {
              max-width: 459px;
              width: 50%;
            }
            @media screen and (max-width: $tablet2) {
              max-width: 300px;
            }
            @media screen and (max-width: $mobile) {
              border-radius: $small-border-radius;
              max-width: 248px;
              max-height: 240px;
              width: 100%;
            }
            &:has(.single-image) {
              display: flex;
              align-items: center;
              justify-content: center;
              @media screen and (max-width: $desktop) {
                max-width: 478px;
              }
              @media screen and (max-width: $mobile) {
                max-width: none;
              }
            }
          }
        }
      }
    }
    .swiper-wrapper {
      max-height: 3310px;
      @media screen and (max-width: $desktop) {
        max-height: 2980px;
      }
      @media screen and (max-width: $desktop1) {
        max-height: 2280px;
      }
      @media screen and (max-width: $mobile) {
        max-height: 3020px;
      }
    }
  }
}
