@import "../variables";

//image-wrapper
.moments-section__photo {
  border-radius: $bid-border-radius;
  aspect-ratio: 712/576;
  overflow: hidden;
  @media screen and (max-width: $tablet2) {
    border-radius: $small-border-radius;
  }
}

.moments-section__photo img {
  height: 100%;
  object-fit: cover;
}

//slider
.moments-section__slider {
  position: relative;
  .swiper__nav--box .swiper-pagination {
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}

.moments-section__wrapper {
  margin-bottom: 20px;
  @media screen and (max-width: $tablet2) {
    margin-bottom: 12px;
  }
  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.moments-section__image {
  padding-bottom: 81%;
  @media screen and (max-width: $mobile) {
    padding-bottom: 78%;
  }
}
