@import "../variables";

.moneysupport__buttons--box {
  margin: 0 auto;
  width: 687px;
  @media screen and (max-width: $desktop) {
    width: 579px;
  }
  @media screen and (max-width: $tablet2) {
    margin: 0;
    width: fit-content;
  }
  @media screen and (max-width: $mobile) {
    width: 100%;
  }

  & input[type="number"]::-webkit-outer-spin-button,
  & input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  & input[type="number"],
  & input[type="number"]:hover,
  & input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
  }

  & input.current_account {
    display: block;
    padding-left: 12px;
    cursor: auto;
    border: 1px solid $lavender;
    border-radius: $small-border-radius;
    @media screen and (max-width: $tablet2) {
      border-color: $violet-grey;
    }
  }

  & svg {
    width: 88px;
    height: 32px;
    @media screen and (max-width: $desktop) {
      width: 77px;
      height: 28px;
    }
  }

  & .moneysupport__button {
    border: 1px solid $blue;
    background: $white;
    margin-top: 28px;
    @media screen and (max-width: $tablet2) {
      margin-top: 16px;
    }
  }
}
