@import "../variables";

.moneysupport__buttons--box {
  display: flex;
  gap: 36px;
  justify-content: center;
  margin-top: 28px;
  @media screen and (max-width: $tablet2) {
    margin-top: 16px;
  }
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: 12px;
  }

  & .moneysupport__button--second {
    min-width: 507px;
    @media screen and (max-width: $desktop) {
      min-width: 460px;
    }
    @media screen and (max-width: $tablet2) {
      min-width: auto;
    }
  }

  & .moneysupport__button {
    border: 1px solid $blue;
    background: $white;
  }
}
